<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
      <!-- Forgot Password v1 -->
      <div class="card mb-0">
        <div class="card-body">
          <a href="javascript:void(0);" class="brand-logo">
            <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
            <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
          </a>
  
          <h4 class="card-title mb-1">Forgot Password?</h4>
  
          <form class="auth-forgot-password-form mt-2" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="forgot-password-username" class="form-label">Username (Email or Mobile Number)</label>
              <input
                type="text"
                class="form-control"
                formControlName="username"
                aria-describedby="forgot-password-username"
                tabindex="1"
                autofocus
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
              />
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
              </div>
            </div>
            <button class="btn btn-primary btn-block" tabindex="2" rippleEffect>Proceed</button>
          </form>
  
          <p class="text-center mt-2">
            <a routerLink="/auth/">
              <i data-feather="chevron-left" class="mb-25"></i> Back to 
            </a>
          </p>
        </div>
      </div>
      <!-- /Forgot Password v1 -->
    </div>
  </div>
  