<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <section id="members">
      <section class="modern-horizontal-wizard">
        <div
          id="stepper1"
          class="bs-stepper wizard-modern modern-wizard-example"
        >
          <div class="bs-stepper-header">
            <div data-target="#personal-info-modern" class="step" (click)="goTo(1)">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box"
                  ><i class="font-medium-2" data-feather="user"></i></span
                ><span class="bs-stepper-label"
                  ><span class="bs-stepper-title">Personal Info</span
                  ><span class="bs-stepper-subtitle"
                    >Add Personal Info</span
                  ></span
                >
              </button>
            </div>
            <div class="line">
              <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div data-target="#training-modern" class="step" (click)="goTo(2)">
              <button type="button" class="step-trigger" >
                <span class="bs-stepper-box"
                  ><i class="font-medium-2" data-feather="type"></i></span
                ><span class="bs-stepper-label"
                  ><span class="bs-stepper-title">Training</span
                  ><span class="bs-stepper-subtitle"
                    >Set Training Details</span
                  ></span
                >
              </button>
            </div>
            <div class="line">
              <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div data-target="#payment-modern" class="step" (click)="goTo(3)">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box"
                  ><i
                    class="font-medium-2"
                    data-feather="dollar-sign"
                  ></i></span
                ><span class="bs-stepper-label"
                  ><span class="bs-stepper-title">Payment</span
                  ><span class="bs-stepper-subtitle">Add Payment</span></span
                >
              </button>
            </div>
            <div class="line">
              <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div data-target="#requirements-modern" class="step" (click)="goTo(4)">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box"
                  ><i class="font-medium-2" data-feather="briefcase"></i></span
                ><span class="bs-stepper-label"
                  ><span class="bs-stepper-title">Requirements</span
                  ><span class="bs-stepper-subtitle"
                    >Submit Requirements</span
                  ></span
                >
              </button>
            </div>
            <div class="line">
              <i data-feather="chevron-right" class="font-medium-2"></i>
            </div>
            <div data-target="#review-modern" class="step" (click)="goTo(5)">
              <button type="button" class="step-trigger">
                <span class="bs-stepper-box"
                  ><i class="font-medium-2" data-feather="file-text"></i></span
                ><span class="bs-stepper-label"
                  ><span class="bs-stepper-title">Review</span
                  ><span class="bs-stepper-subtitle">Review Your Info</span></span
                >
              </button>
            </div>
          </div>
          <div class="bs-stepper-content">
            <div
              id="personal-info-modern"
              class="content fade dstepper-block dstepper-none"
            >
              <div class="content-header">
                <h5 class="mb-0">Personal Info</h5>
                <small class="text-muted">Enter Your Personal Info.</small>
              </div>

              <!--Personal Info-->
              <app-personal-info></app-personal-info>


              <div class="d-flex justify-content-between">
                <button
                  disabled=""
                  rippleeffect=""
                  class="btn btn-outline-secondary btn-prev waves-effect"
                >
                  <i data-feather="arrow-left" class="font-medium-2 mr-50"></i
                  ><span class="align-middle d-sm-inline-block d-none"
                    >Previous</span
                  ></button
                ><button
                  rippleeffect=""
                  class="btn btn-primary btn-next waves-effect waves-float waves-light"
                >
                  <span class="align-middle d-sm-inline-block d-none">Next</span
                  ><i data-feather="arrow-right" class="font-medium-2 ml-50"></i
                    >
                </button>
              </div>
            </div>
            <div
              id="training-modern"
              class="content fade dstepper-block active"
            >
              <div class="content-header">
                <h5 class="mb-0">Training</h5>
                <small>Set training details.</small>
              </div>

              <!--Training Form Here-->
              
              <div class="d-flex justify-content-between">
                <button
                  disabled=""
                  rippleeffect=""
                  class="btn btn-outline-secondary btn-prev waves-effect"
                >
                  <i data-feather="arrow-left" class="font-medium-2 mr-50"></i
                  ><span class="align-middle d-sm-inline-block d-none"
                    >Previous</span
                  ></button
                ><button
                  rippleeffect=""
                  class="btn btn-primary btn-next waves-effect waves-float waves-light"
                >
                  <span class="align-middle d-sm-inline-block d-none">Next</span
                  ><i data-feather="arrow-right" class="font-medium-2 ml-50"></i
                    >
                </button>
              </div>
            </div>
            <div
              id="payment-modern"
              class="content fade dstepper-block dstepper-none"
            >
              <div class="content-header">
                <h5 class="mb-0">Payment</h5>
                <small>Add payment.</small>
              </div>
              
              <!--Payment Form Goes Here-->

              <div class="d-flex justify-content-between">
                <button
                  disabled=""
                  rippleeffect=""
                  class="btn btn-outline-secondary btn-prev waves-effect"
                >
                  <i data-feather="arrow-left" class="font-medium-2 mr-50"></i
                  ><span class="align-middle d-sm-inline-block d-none"
                    >Previous</span
                  ></button
                ><button
                  rippleeffect=""
                  class="btn btn-primary btn-next waves-effect waves-float waves-light"
                >
                  <span class="align-middle d-sm-inline-block d-none">Next</span
                  ><i data-feather="arrow-right" class="font-medium-2 ml-50"></i
                    >
                </button>
              </div>
            </div>
            <div
              id="requirements-modern"
              class="content fade dstepper-block dstepper-none"
            >
              <div class="content-header">
                <h5 class="mb-0">Requirements</h5>
                <small>Submit requirements.</small>
              </div>

              <!--Requirements Form Goes Here-->

              <div class="d-flex justify-content-between">
                <button
                  disabled=""
                  rippleeffect=""
                  class="btn btn-outline-secondary btn-prev waves-effect"
                >
                  <i data-feather="arrow-left" class="font-medium-2 mr-50"></i
                  ><span class="align-middle d-sm-inline-block d-none"
                    >Previous</span
                  ></button
                ><button
                  rippleeffect=""
                  class="btn btn-primary btn-next waves-effect waves-float waves-light"
                >
                  <span class="align-middle d-sm-inline-block d-none">Next</span
                  ><i data-feather="arrow-right" class="font-medium-2 ml-50"></i
                    >
                </button>
              </div>
            </div>
            <div
              id="review-modern"
              class="content fade dstepper-block dstepper-none"
            >
              <div class="content-header">
                <h5 class="mb-0">Review</h5>
                <small>Review your information.</small>
              </div>

              <!--Review Form Goes Here-->

              <div class="d-flex justify-content-between">
                <button
                  disabled=""
                  rippleeffect=""
                  class="btn btn-outline-secondary btn-prev waves-effect"
                >
                  <i data-feather="arrow-left" class="font-medium-2 mr-50"></i
                  ><span class="align-middle d-sm-inline-block d-none"
                    >Previous</span
                  ></button
                ><button
                  rippleeffect=""
                  class="btn btn-primary btn-next waves-effect waves-float waves-light"
                >
                  <span class="align-middle d-sm-inline-block d-none">Next</span
                  ><i data-feather="arrow-right" class="font-medium-2 ml-50"></i
                    >
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </div>
</div>
