@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';
@import '@core/scss/angular/libs/sweet-alerts.component.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.datatable-scroll {
    width: auto !important;
  }
  
  .datatable-body-cell-label {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  
  .truncate {
    &-name {
      width: 153px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }