<div class="auth-wrapper auth-v1 px-2">
    <div class="auth-inner py-2">
      <!-- Reset password -->
      <div class="card mb-0">
        <div class="card-body">
          <a href="javascript:void(0);" class="brand-logo">
            <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
            <h2 class="brand-text text-primary ml-1">{{ coreConfig.app.appName }}</h2>
          </a>
  
          <form class="auth-reset-pass-form mt-2" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="password" class="form-label">Password</label>
  
              <div class="input-group input-group-merge form-password-toggle">
                <input
                  [type]="passwordTextType ? 'text' : 'password'"
                  formControlName="password"
                  class="form-control form-control-merge"
                  aria-describedby="password"
                  tabindex="2"
                  [ngClass]="{ 'is-invalid error': submitted && f.password.errors }"
                />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': passwordTextType,
                        'icon-eye': !passwordTextType
                      }"
                      (click)="togglePasswordTextType()"
                    ></i
                  ></span>
                </div>
              </div>
              <p class="d-block">Password requirements:</p>
              <ul class="d-block">
                <li 
                  class="mb-30 password-requirement"
                  [class.password-invalid]="submitted && f.password.errors?.characterLength"
                  [class.password-valid]="submitted && !f.password.errors?.characterLength">
                  Minimum 8 characters long
                </li>
                <li 
                  class="mb-30 password-requirement"
                  [class.password-invalid]="submitted && f.password.errors?.lowerCase"
                  [class.password-valid]="submitted && !f.password.errors?.lowerCase">
                  At least one lowercase character
                </li>
                <li 
                  class="mb-30 password-requirement"
                  [class.password-invalid]="submitted && f.password.errors?.upperCase"
                  [class.password-valid]="submitted && !f.password.errors?.upperCase">
                  At least one uppercase character
                </li>
                <li 
                  class="mb-30 password-requirement"
                  [class.password-invalid]="submitted && f.password.errors?.number"
                  [class.password-valid]="submitted && !f.password.errors?.number">
                  At least one number
                </li>
              </ul>
              <div
                *ngIf="submitted && f.password.errors"
                class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.password.errors }"
              >
                <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword" class="form-label">Confirm Password</label>
  
              <div class="input-group input-group-merge form-password-toggle">
                <input
                  [type]="passwordConfirmTextType ? 'text' : 'password'"
                  formControlName="confirmPassword"
                  class="form-control form-control-merge"
                  aria-describedby="confirmPassword"
                  tabindex="3"
                  [ngClass]="{ 'is-invalid error': submitted && f.confirmPassword.errors }"
                />
                <div class="input-group-append">
                  <span class="input-group-text cursor-pointer"
                    ><i
                      class="feather font-small-4"
                      [ngClass]="{
                        'icon-eye-off': passwordConfirmTextType,
                        'icon-eye': !passwordConfirmTextType
                      }"
                      (click)="toggleConfirmPasswordTextType()"
                    ></i
                  ></span>
                </div>
              </div>
              <div
                *ngIf="submitted && f.confirmPassword.errors"
                class="invalid-feedback"
                [ngClass]="{ 'd-block': submitted && f.confirmPassword.errors }"
              >
                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                <div *ngIf="f.confirmPassword.errors.mustMatch">Password did not matched</div>
              </div>
            </div>
            <div class="form-group">
                <label for="code" class="form-label">OTP (One time pin sent to your mobile number/ email)</label>
                <input
                  type="text"
                  formControlName="code"
                  class="form-control"
                  mask="000000"
                  tabindex="4"
                  autofocus
                  [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
                />
                <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
                  <div *ngIf="f.code.errors.required">OTP is required</div>
                </div>
            </div>
            <button class="btn btn-primary btn-block" tabindex="11" rippleEffect>Submit</button>
          </form>

          <p class="text-center mt-2">
            <a routerLink="/auth/login">
              <i data-feather="chevron-left" class="mb-25"></i> Back to login
            </a>
          </p>
        </div>
      </div>
      <!-- /Reset password -->
    </div>
  </div>

  
  