@import '@core/scss/base/bootstrap-extended/include'; // Bootstrap includes
@import '@core/scss/base/pages/page-auth.scss';
@import '@core/scss/angular/libs/toastr.component.scss';

.password {
    &-requirement {
        font-size: 0.857rem;
    }
    &-valid {
        color: #24695c;
    }
    &-invalid {
        color: #ea5455;
    }
}